
<main class="container">
    <div class="redirectBottom">
        <a href="/productos/" class="btn btn-secondary btn-lg p-2 m-2">Lista de productos</a>
    </div>
    
    <h1 class="display-1 text-center textColor my-3">Carga de productos</h1>
    <br>
    <div class="row justify-content-center align-items-center">
        <div class="col-md-7">
                <form action="/productos" method="post">
                    <input type="text" placeholder="Producto" name="nombre">
                    <input type="float" placeholder="Precio" name="precio">
                    <input type="text" placeholder="Imagen" name="imagen">
                    <input type="submit" value="Enviar">
                </form>
        </div>
    </div>
</main>

